

body {
	margin: 0;
	padding: 0;
	color: #6a6651;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #faf8ec; 
}

a, a:link, a:visited { 
	color: #d46643; 
	font-weight: normal; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

p { 
	margin: 0 0 20px 0; 
	padding: 0; 
}

img { 
	border: none; 
}

em { 
	color: #d46643; 
}

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px;
}

cite { 
	font-weight: bold; 
	color:#d46643; 
}

cite a, cite a:link, cite a:visited  { 
	font-size: 12px; 
	text-decoration: none; 
	font-style: normal;
}

cite span { 
	font-weight: 400; 
	color: #a9a488; 
}

.imgage-with-frame { 
	padding: 4px; 
	border: 1px solid #a6a28d; 
}

.image_fl { 
	float: left; 
	margin: 3px 20px 5px 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 5px 20px; 
}

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 3px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.mb10 { margin-bottom: 10px }

.float_l { float: left }
.float_r { float: right }

.list { 
	margin: 10px 0 10px 10px; 
	padding: 0; 
	list-style: none;
}

.list li { 
	color:#58503f; 
	margin: 0 0 10px ; 
	padding: 0 5px 0 18px; 
	background: url(../images/list-tick.png) no-repeat scroll 0 4px;  
}

.list li.flow { 
	display: block; 
	float: left; 
	width: 180px; 
	margin-right: 20px; 
}

.list li.nomr { 
	margin-right: 0; 
}

.list li a { 
	color: #58503f; 
	font-weight: normal; 
}

.list li a:hover { 
	color: #9e1906; 
}

#header_wrapper {
	width: 100%;
	height: 140px;
	background: url(../images/header.jpg) repeat-x
}
#header {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

#slider_wrapper {
	width: 100%;
	height: 446px;
	background: #aca177 url(../images/slider.jpg) no-repeat center top
}

#slider {
	width: 960px;
	padding: 33px 10px;
	height: 446px;
	margin: 0 auto;
	overflow: hidden;
}

#main_wrapper {
	width: 100%;
	background: url(../images/main.jpg) repeat-x top
}

#main {
	width: 960px;
	padding:10px; padding-top:30px;
	margin: 0 auto;
}

#footer_wrapper {
	width: 100%;
	background: #38362d;
	border-top: 5px solid #ffffff
}
#footer {
	width: 960px;
	padding: 30px 10px;
	margin: 0 auto;
}

#site_title { 
	float: left; 
}

#site_title a { 
	margin-top: 50px; 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	width: 240px; 
	height: 54px; 
	color: #acacac; 
	text-indent: -10000px; 
	background: url(../images/logo.png) no-repeat center left; 
}

#menu { float: right }

.homepage_post { 
	margin-bottom: 40px; 
}

.homepage_post h2 { 
	margin-bottom: 0; 
}

.homepage_post .post_meta { 
	font-style: italic; 
	font-size: 11px; 
	margin-bottom: 20px; 
}

#food-gallery img, #food-gallery h5 { margin-bottom: 20px; }

.testimonial { 
	padding: 0 0 20px; 
	margin-bottom: 30px;  
	border-bottom: 1px dotted #bfb7a8; 
	display: block; 
}

.testimonial p { 
	margin-bottom: 5px; 
}

.gallery_box { 
	float: left; 
	width: 220px; 
	margin: 0 20px 20px 0; 
	text-align: center; 
}

.gallery_box img { 
	margin-bottom: 10px; 
}

.gallery_box h5 { 
	font-size: 12px; 
	font-weight: 700; 
	margin-bottom:0; 
}

.gallery_box p { 
	font-size: 11px; 
}

.post { 
	margin-bottom: 60px; 
}

.post .post_image { 
	width: 600px; 
	position: relative; 
	padding: 4px; 
	border: 1px solid #a6a28d; 
	margin-bottom: 20px;
}

.post .post_image .date { 
	position: absolute; 
	width: 114px; 
	height: 40px; 
	top: 10px; 
	left: -7px; 
	background: url(../images/date.png) no-repeat left; 
	font-size: 11px; 
	line-height: 32px; 
	color: #fff; 
	font-weight: 700; 
	text-align: center; 
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 590px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	border-bottom: 1px solid #ccc;  
}

.comments li .commentbox2 { 
	border-bottom: 1px solid #ccc;  
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 10px 0 20px 0; 
	margin-bottom: 40px;  
}

.comment_box .gravatar { 
	float: left; 
	width: 75px; 
	margin-right: 30px; 
}

.comment_box .gravatar img {  
	width: 75px; 
	height: 75px; 
}

.comment_box .comment_text {  }

.comment_box .comment_text p { 
	margin: 0; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	font-weight: bold; 
	color: #d46643; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 12px; 
	font-weight: normal; 
	color: #7b7b7b; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 12px; 
	font-weight: normal; 
	color: #7b7b7b; 
	padding-left: 10px;
}

.comment_text .reply a { 
	display: block; 
	clear: both; 
	float: right; 
	color: #000; 
	font-weight: 700; 
} 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
}

#comment_form textarea {
	color: #666;
	background:#fff;
	border: 1px solid #ccc;
	height:150px;
	padding:5px;
	width: 380px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 5px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #666;
	padding: 5px;
	width: 250px;
	background:#fff;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 5px;
}

#comment_form .submit_btn {
	display: block; 
	width: 70px; 
	height: 30px; 
	padding: 5px 8px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold;  
	background-color: #fff; 
	border: 1px solid #ded6c6; 
	color: #222; 
	font-size:11px; 
}

.popular_post { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.popular_post li { 
	margin-bottom: 30px; 
}

.popular_post li a { 
	display: block; 
}

#contact_form { 
	padding: 0; 
	width: 410px; 
	margin-bottom: 40px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 270px; 
	padding: 5px; 
	color: #222;  
	background: #fff; 
	border: 1px solid #ded6c6; 
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 12px; 
}

#contact_form form textarea { 
	width: 398px; 
	height: 200px; 
	padding: 5px; 
	color: #222; 
	background: #fff; 
	border: 1px solid #ded6c6; 
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	padding: 5px 14px; 
	font-weight: bold;
	background: #fff; 
	border: 1px solid #ded6c6; 
	color: #222; 
	font-size:12px; 
	margin-top: 10px;
}	

.map { 
	padding: 4px; 
	border: 1px solid #9c9880; 
}

.col { float: left; margin: 0 20px 20px 0 }
.half { width: 460px }
#sidebar, .one_third { width: 300px }
#content, .two-third { width: 980px }
.padding_right { padding-right: 20px }
.one_fourth { width: 220px }
.no_margin_right { margin-right: 0 }
.last_box { margin-bottom: 0; background: none }

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #fff; 
	border: 1px solid #d9d0be; 
}

.pagging ul li a:hover { 
	background: #f7b634; 
	border: 1px solid #fff; 
	color: #fff;  
}

#footer {
	color: #ada278;
	text-align: center
}

#footer a {
	color: #faf8ec
}


.ddsmoothmenu{
	margin-top: 65px
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

.ddsmoothmenu ul li a {
	display: block;
	height: 28px;
	width: 82px;
	margin-left: 10px;
	line-height: 30px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #514d34;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

* html .ddsmoothmenu ul li a{ 
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { 
	background: #bb3a33;
	color: #fff
}

.ddsmoothmenu ul li ul {
	position: absolute;
	width: 184px;
	margin: 5px 0 0 10px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #bb3a33;
}

.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}
.ddsmoothmenu ul li ul li ul{
top: 0;
}

.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 160px; /*width of sub menus*/
	margin: 0 3px 0 1px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	font-size: 12px;
	text-align: left;
	background: none;
	color: #fff;
	border-bottom: 1px solid #a52b25
}

.ddsmoothmenu ul li ul li .last {
	border-bottom: none;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #fff;
	width: 160px;
	padding-left: 12px;
	background: #a52b25;
}





#focus {width:980px; height:440px; margin:auto; overflow:hidden; position:relative; margin-top:-40px; margin-left:-30px;}
#focus ul {height:440px; position:absolute;}
#focus ul li {float:left; width:980px; height:440px; overflow:hidden; position:relative; }
#focus ul li div {position:absolute; overflow:hidden;}
#focus ul li img {width:940px; height:440px;}
#focus .btnBg {position:absolute; width:980px; height:20px; left:0; bottom:0;}
#focus .btn {position:absolute; width:980px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(img/sprite.png) no-repeat 0 0; cursor:pointer;}
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;}













