/* CSS Document */

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;font-family:"宋体"}

*{margin:0;padding:0;border:0; font-family:"宋体"}
body {	font-family: "宋体";font-size: 12px;color:#000000;line-height: 20px;text-align:left}
td,th {font-family: "宋体";font-size: 12px;color: #000000;}
a {color: #000000;}
A:link {TEXT-DECORATION: none;}
A:visited {TEXT-DECORATION: none;}
A:hover {TEXT-DECORATION: underline;color: #FF0000;}
ul,li{list-style-type:none;}

.clearit{clear:both;}
.hSpace1 {height:1px;line-height:1px;overflow:hidden; clear:both;}
.hSpace5 {height:5px;line-height:5px;overflow:hidden; clear:both;}
.hSpace10 {height:10px;line-height:10px;overflow:hidden; clear:both;}
.hSpace5F {height:5px;line-height:5px; background:#FFFFFF;overflow:hidden; clear:both;}
.p5 {padding:5px;}
.borderU {border-right: 1px solid  #75819e;border-left: 1px solid  #75819e;border-bottom: 1px solid  #75819e;}
.borderU_p5 {border-right: 1px solid  #75819e;border-left: 1px solid  #75819e;border-bottom: 1px solid  #75819e;padding:5px;}
.borderH {border-right: 1px solid  #75819e;border-left: 1px solid  #75819e;}
.borderH_p5 {border-right: 1px solid  #75819e;border-left: 1px solid  #75819e;padding:5px;}

#page{width:980px; margin:0 auto;}
.head{width:980px; margin:0 auto; height:91px; background:url(images/head_bg.gif) repeat-x;}
.headA{float:left;}

.Anav{
	width: 980px;
	height: 51px;
	background-color: #0267ED;
	background-repeat: repeat-x;
}

.Anav ul li{width:130px; display:block; line-height:24px; padding-top:16px; font-size:14px; font-weight:bold; float:left;}

.Anav ul li a{color:#FFFFFF;}

.content{width:980px; margin:0 auto; background:url(images/l_contbg.jpg) no-repeat left bottom;}
.content_bg{width:980px; margin:0 auto; background:#FFFFFF;}

.l_cont{width:273px; float:left; margin-left:10px; display:inline;}

.xiaoyuan{width:273px; margin:0 auto;}
.xiaoyuanA{width:273px; height:28px; overflow:hidden; background:url(images/xiaoyuanA.jpg) no-repeat;}
.xiaoyuanA h1{font-size:12px; font-weight:bold; float:left; text-indent:40px; text-align:left; color:#FFFFFF; line-height:28px;}
.xiaoyuanA span{font-size:12px; font-weight:bold; float:right; text-align:left; color:#FFFFFF; line-height:28px; margin-right:16px; display:inline;}
.xiaoyuanA span a{color:#FFFFFF;}
.xiaoyuanB{width:251px; padding:0 10px; border:1px solid #0c7aab; background:#f5fcff;}
.xiaoyuanB ul{text-align:left;}
.xiaoyuanB ul li{width:250px; height:24px; line-height:24px; overflow:hidden;}
.xiaoyuanB ul li img{width:14px; float:left; display:block; padding:2px 4px;}
.xiaoyuanB ul li span{width:190px; float:left;}
.xiaoyuanB ul li h5{font-size:12px; font-weight:normal;  width:60px; float:right;}
.xiaoyuanB p{text-align:left; line-height:24px; text-indent:2em;}






.r_cont{width:675px; float:right; margin-right:10px; display:inline}
.jianjie{width:675px; margin:0 auto; background:url(images/jianjieA_bg.gif) no-repeat top}
.jianjieA{width:675px; margin:0 auto; background:url(images/jianjieA_bg.gif) no-repeat; height:41px;}
.jianjieA p{text-align:left; text-indent:44px; font-size:16px; font-family:"微软雅黑", "宋体"; font-weight:bolder; color:#25539a; line-height:41px;}
.changguanA{width:675px; margin:0 auto; background:url(images/changguanA_bg.gif) no-repeat; height:41px;}


.jianjieB{width:675px; margin:0 auto;}
.jianjieB p{ width:640px; line-height:24px; text-align:left; text-indent:2em; margin-left:15px;}

.jianjieC{width:580px; float:right;}
.jianjieC ul li{width:180px; height:100px; display:block; float:left; margin-left:20px; display:inline;}
.jianjieC ul .jianjieC_a{margin-left:0;}


.huodong{width:980px; margin:0 auto;}
.huodongA{width:980px; height:47px; background:url(images/huodong_bg.jpg) no-repeat left}
.huodongB{width:976px; margin:0 auto; padding:10px 0;border:2px solid #3e6cb1;}
.huodongB img{border:1px solid #000000; display:block; float:left; margin-left:18px; display:inline}

.foot{width:980px; margin:0 auto; height:98px; background:url(images/foot_bg.gif) repeat-x;}
.foot p{text-align:center; line-height:30px; padding-top:15px;}



.weizhi{width:675px; border-bottom:1px solid #3e6cb1;}
.weizhi p{text-align:left; text-indent:1em;}

.cailiao{width:650px; margin:0 auto; padding-top:10px;}
.cailiao ul{text-align:left;}
.cailiao ul li{width:650px;}
.cailiao ul li img{width:14px; float:left; display:block; padding:2px 4px;}
.cailiao ul li span{width:450px; float:left;}
.cailiao ul li h5{font-size:12px; font-weight:normal;  width:90px; float:right;}


.neirong{width:650px; padding:10px; text-align:left;}
.neirong p{text-indent:2em;}
.title{width:650px; padding:10px 0;}
.title h1{font-size:14px; font-weight:bold; text-align:center; line-height:22px; color:#000000;}


.cailiao h1{font-size:14px; font-weight:bold; text-align:center; line-height:30px;}
.cailiaoA{width:550px; margin:0 auto; text-align:left;}
.cailiaoA p{text-align:left; line-height:20px; font-size:12px;}

.jiaoshi{width:550px; margin:0 auto; padding-top:10px;}
.jiaoshi ul{text-align:left;}
.jiaoshi ul li{width:100px; float:left; margin-left:9px; display:inline; line-height:20px;}
.jiaoshi ul li img{width:100px; height:90px;}

.content_zc{width:780px; height:600px; margin:0 auto;background:url(images/content_zc.gif) repeat-y}
.content_zcA{width:780px; height:600px; margin:0 auto; background:url(images/content_zcA.gif) no-repeat top}
.coupletA{width:780px; margin:0 auto; height:600px; background:url(images/coupletA.gif) no-repeat left top;}
.coupletB{width:780px; margin:0 auto; height:600px; background:url(images/coupletB.gif) no-repeat right top;}


.nav_zc{width:280px; margin:0 auto;}




/*----------------------页内二级菜单---------------------------------*/
#nav {
 width:280px;
 line-height: 25px; 
 list-style-type: none;
 text-align:center;
 color:#000000; padding-top:50px;
  
    /*定义整个ul菜单的行高和背景色*/
}
/*==================一级目录===================*/
#nav a {
 width:280px; 
 display: block;
  height:38px;
   text-align:left;
 color:#ffffff;
 /*Width(一定要)，否则下面的Li会变形*/
}
#nav li {

 /*下面的一条白边*/
 float:left;
 /*float：left,本不应该设置，但由于在Firefox不能正常显示
 继承Nav的width,限制宽度，li自动向下延伸*/
 font-size:12px;

}

#nav li ul li{text-indent:5em; font-size:14px; line-height:38px;}
#nav li a{color:#ffffff;}
#nav li a:hover{
  /*background:#0066cc;一级目录onMouseOver显示的背景色*/
}
#nav a:link  {
 color:#ffffff; text-decoration:none;
}
#nav a:visited  {
 color:#ffffff;text-decoration:none;
}
#nav a:hover  {
 text-decoration:none;font-weight:bold;
}
/*==========二级目录==========*/
#nav li ul {
 list-style:none;
 text-align:center;
}
#nav li ul li{ 
 background:#f1f1f1; /*二级目录背景色*/
}
#nav li ul a{
        
         width:280px;
 /* padding-left二级目录中文字向右移动，但Width必须重新设置=(总宽度-padding-left)*/
}
/*下面是二级目录的链接样式*/
#nav li ul a:link  {
 color:#666; text-decoration:none;
}
#nav li ul a:visited  {
 color:#666;text-decoration:none;
}
#nav li ul a:hover {
 color:#000000;
 text-decoration:none;
 font-weight:normal;
 background:#a5d6ff;
 /* 二级onmouseover的字体颜色、背景色*/
}
/*==============================*/
#nav li:hover ul {
 left: auto;
}
#nav li.sfhover ul {
 left: auto;
}
#content {
 clear: left; 
}
#nav ul.collapsed {
 display: none;
}

#PARENT{

}



.shenqing{width:675px; margin:0 auto;}
.shenqing img{display:block; width:590px;}
.zhibiao{width:675px; margin:0 auto;}
.zhibiao h4{font-size:16px; font-weight:bold; text-align:center; line-height:50px;}

.zhibiao table .zhibiaoA{text-align:center; font-weight:bold;}
.zhibiao table{border-top:1px solid #000000;border-left:1px solid #000000;}
.zhibiao table tr td{border-bottom:1px solid #000000;border-right:1px solid #000000;}
