*{margin:0px;padding:0px}
body{background:url(images/background_bg.png) repeat scroll 0 0 transparent;_background:#EFEFEF;color:#5E5E5E;font-family:Tahoma,Helvetica,Arial,'宋体',sans-serif;font-size:12px;height:100%}
img{border:0px}
a{color:#5e5e5e;text-decoration:none}
a:hover{color:#ff6c01;text-decoration:underline}:focus{outline:0 none}
ul,li{list-style:none}
h3{font-size:14px}
em{font-style:normal}
.clear{clear:both}
.red{color:#f00}
.org{color:#F50}
.org_2{color:#FF8A2C}
.bla{color:#000}
.gray{color:#5E5E5E}
.gray_2{color:#808080}
.gray_3{color:#CCC}
.whi{color:#fff}
.blu{color:#09E}
.blu_1{color:#00F}
.green{color:#129800}
.green_2{color:#139C00}
.green_3{color:#70A700}
.gray_pre{color:#808080}
.block{display:block}
.none{display:none}
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}
.fl{float:left}
.fr{float:right}
.ml10{margin-left:10px}
.ml20{margin-left:20px;_margin-left:10px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.fs14{font-size:14px}