.main .contant{height:auto;overflow:hidden;margin:15px
0}
.main .page{margin-bottom:0px;height:80px}
.zhe_goods .zhe_sort{clear:both;padding-bottom:15px;width:950px}.zhe_goods .zhe_sort
ul{border-bottom:2px solid #f50;overflow:hidden;width:940px;padding:0
5px}.zhe_goods .zhe_sort ul
li{float:left;margin-right:3px}.zhe_goods .zhe_sort ul li
a{border:1px
solid #fff;border-bottom:medium none;color:#f50;display:block;font-size:14px;font-weight:bold;line-height:27px;padding:0
14px}.zhe_goods .zhe_sort ul li a:hover{background:#FFFCEB;border:1px
solid #Ff6c01}.zhe_goods .zhe_sort ul .on a ,.zhe_goods .zhe_sort ul .on a:hover{background:#f50;border:1px
solid #f50;color:#FFF;border-bottom:medium none}.zhe_goods .zhe_sort ul .on a, .zhe_goods .zhe_sort ul li a:hover{border-bottom:medium none;border-radius:2px 2px 0 0;text-decoration:none}.zhe_goods .zhe_sort
.search{float:right;width:242px;margin:0px}.zhe_goods .zhe_sort .search
.key{width:170px;background:url(images/goodslist_search_bg.png) no-repeat scroll 0 0px transparent;border:medium none;float:left;font-size:12px;height:24px;line-height:24px;padding-left:5px;color:#5e5e5e}
.zhe_goods .zhe_sort .search
.btn{background:url(images/goodslist_search_bg.png) no-repeat scroll -175px 0 transparent;border:medium none;cursor:pointer;float:left;height:24px;width:67px}
.zhe_goods
.zhe_hd{padding:0px;width:950px;padding-bottom:15px;height:30px;position:relative;z-index:1000}
.zhe_hd
.filter{float:left}
.zhe_hd
.filter{float:left;margin-right:30px}
.zhe_hd .filter
span{float:left;line-height:28px;font-size:14px;color:#404040}
.zhe_hd .filter
a{background:url(images/goods_filter_bg.png) no-repeat scroll 0 0;border:1px
solid #D9D9D9;color:#404040;float:left;line-height:28px;margin-right:-1px;padding:0
15px;position:relative;z-index:1}
.zhe_hd .filter
a.current{border-color:#ffc4a6;font-weight:bold}
.zhe_hd .filter a .up, .filter a
.down{background:url(images/goods_filter_updown.gif) no-repeat scroll 0px 0px;cursor:pointer;height:8px;overflow:hidden;position:absolute;right:11px;top:11px;width:7px}
.zhe_hd .filter a
.up{background-position:-8px 0px}
.zhe_hd .filter a:hover, .filter
a.current{background:url(images/goods_filter_bg.png) no-repeat scroll 0 -28px;text-decoration:none;z-index:10;color:#13830e}
.zhe_hd  .filter_shai
a{padding:0
10px}
.zhe_hd  .filter_px
a{padding-right:20px}
.zhe_result{padding:10px
0 0 10px;width:950px}
.zhe_bd{width:950px;overflow:hidden;min-height:180px}.zhe_top{margin-top:20px}.zhe_bd
.goods_box{width:304px;border:1px
solid #e5e5e5;float:left;overflow:visible;padding-bottom:15px;margin-left:16px;position:relative;margin-bottom:16px;background:#fff}
.zhe_bd
.goods_box_l{margin-left:0px;margin-left:8px}
.zhe_bd .goods_box:hover{border:#d9d9d9 solid 1px}
.zhe_bd .goods_box
.li_bg{background:url(images/li_bg.png) no-repeat;height:11px;width:183px;position:absolute;bottom:-11px;right:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',
src="")}
.zhe_bd .goods_box .inner_box h3,.zhe_bd .goods_box .inner_box
h4{color:#666;font-size:14px;height:40px;line-height:20px;margin:0
auto 7px;padding-top:13px;width:270px;overflow:hidden;font-weight:normal;cursor:pointer}
.zhe_bd .goods_box .inner_box
h4{font-size:12px;display:none}
.zhe_bd .goods_box .inner_box h4
.xiao_content{color:#999;font-size:12px;margin-left:5px}
.zhe_bd .goods_box .inner_box h3
a{color:#666;font-size:14px}
.zhe_bd .goods_box .inner_box h3
.green{color:#129800}
.zhe_bd .goods_box .inner_box .pic{border:1px solid #F50;height:268px;margin:7px auto 0;position:relative;width:268px}
.zhe_bd .goods_box .inner_box .pic a{display:block;height:268px;overflow:hidden;width:268px;text-align:center} 
.zhe_bd .goods_box .inner_box .pic img{margin:0px auto;width:268px;height:268px}
.zhe_bd .goods_box .tag_sellout .pic,.zhe_bd .goods_box .tag_end .pic{border:#D9D9D9 1px solid}
.zhe_bd .goods_box .tag_wait .pic{border:#129800 1px solid}
.zhe_bd .goods_box .inner_box .buy_mask{background-color:#000;height:20px;left:18px;opacity:0.5;filter:alpha(opacity=50);position:absolute;top:309px;width:268px}
.zhe_bd .goods_box .inner_box .buy_state{color:#FFF;left:18px;position:absolute;top:312px;width:268px}

.zhe_bd .goods_box .inner_box .buy_state .orig_price{float:left;font-size:12px;padding:0 4px 0 10px}
.zhe_bd .goods_box .inner_box .buy_state .begin_time{float:left;font-size:12px;padding:0 4px 0 10px}
.zhe_bd .goods_box .inner_box .buy_ed{color:#FFF;float:right;font-size:12px;padding-right:6px}
.zhe_bd .goods_box .inner_box .buy_ed strong{font-family:Arial;font-weight:bold;color: #B0E553}
.zhe_bd .goods_box .inner_box .buy_action{background:url(images/goods_tag_status.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:48px;line-height:48px;margin:0
auto auto;padding-left:15px;position:relative;text-decoration:none;width:255px}
.zhe_bd .goods_box .tag_buy .buy_action:hover{background:url(images/goods_tag_status.png) no-repeat scroll 0 -47px transparent}
.zhe_bd .goods_box .tag_sellout .buy_action{background:url(images/goods_tag_status.png) no-repeat scroll 0 -188px transparent}
.zhe_bd .goods_box .tag_end .buy_action{background:url(images/goods_tag_status.png) no-repeat scroll 0 -141px transparent}
.zhe_bd .goods_box .tag_wait .buy_action{background:url(images/goods_tag_status.png) no-repeat scroll 0 -94px transparent}
.zhe_bd .goods_box .tag_wait .btn{}.zhe_bd .goods_box .inner_box .buy_action .price{color:#FFF;float:left;font:bold 40px "Arial";letter-spacing:-2px;text-shadow:0 0 0 transparent, 1px 1px 1px #8A181B}
.zhe_bd .goods_box .inner_box .buy_action .price em{font-family:"Microsoft Yahei","Arial","Verda","tahoma";font-size:26px;font-weight:bold;margin-right:7px}
.zhe_bd .goods_box .inner_box .buy_action .price span{font-size:28px;margin-left:4px;_margin-left:2px}
.zhe_bd .goods_box .inner_box .buy_action b{cursor:pointer;display:block;height:32px;position:absolute;right:7px;top:8px;width:92px}
.zhe_bd .goods_box .inner_box .buy_action .oldprice_1{color:#FFD988;display:inline-block;font-size:14px;height:38px !important;line-height:38px;margin-left:5px;padding-top:10px;text-decoration:line-through}
.zhe_bd .goods_box .inner_box .buy_action .oldprice_2{color:#FFF;display:inline-block;font-size:14px;height:38px !important;line-height:38px;margin-left:5px;padding-top:10px;text-decoration:line-through}
.main .jiu_shi{height:auto;overflow:hidden;width:950px;background:#FFF;padding-bottom:20px;margin-top:20px}
.main .jiu_shi .title{height:33px;background:url(images/jiu_tit.jpg) repeat-x 0 0;padding-left:18px}
.main .jiu_shi .title span{display:block;background:url(images/tit.jpg) no-repeat;height:33px;color:#fff;text-align:center;font-size:18px;width:167px;font-family:"微软雅黑","宋体";line-height:33px;float:left}
.main .jiu_shi .title .kanmore{float:right;display:block;height:33px;line-height:33px;margin-right:18px}
.main .jiu_shi .title .kanmore .txt{display:block;float:left;color:#404040;background:none;font-weight:normal;color:#404040;font-size:12px;margin-right:5px;margin-top:10px}
.main .jiu_shi .title .kanmore em{display:block;background:url(images/go_go.jpg) no-repeat;height:13px;width:13px;float:left;margin-top:20px}
.main .jiu_shi .title .kanmore:hover{text-decoration:none;cursor:pointer}
.main .jiu_shi .title .kanmore:hover .txt{color:#ff6c01}
.main .jiu_shi .shijiu_list{padding-left:19px}
.main .jiu_shi  .shijiu_list li{float:left;margin-left:22px;height:auto;width:164px;margin-top:18px}
.main .jiu_shi  .shijiu_list li .pic{display:block;border:#e5e5e5 solid 1px;height:164px;width:164px;overflow:hidden}
.main .jiu_shi  .shijiu_list li .pic img{width:164px}
.main .jiu_shi  .shijiu_list li .title_name{height:25px;line-height:25px;overflow:hidden}
.main .jiu_shi  .shijiu_list li .title_name a{text-decoration:none;color:#666}
.main .jiu_shi  .shijiu_list li .title_name a:hover{text-decoration:underline}
.main .jiu_shi  .shijiu_list li
.detail{height:25px;line-height:25px;margin-top:3px}
.main .jiu_shi  .shijiu_list li .detail
.price{color:#ee6217;font-family:"微软雅黑","Arial";font-size:18px;display:block;float:left}
.main .jiu_shi  .shijiu_list li .detail .go_buy{float:right;color:#2571bd;text-decoration:underline}
.main .jiu_shi  .shijiu_list li .detail .go_buy:hover{text-decoration:none}