.pingban{width:970px;height:80px;background:#ffffd4;margin-top:10px;position:relative;border:#e4e4e4 solid 1px;line-height:80px;margin:3px
auto;display:none;border-radius:5px 5px 5px 5px}
.pingban .jky_logo{background:url(images/jky_logo.png) no-repeat;height:48px;width:48px;margin-top:15px;margin-left:15px;float:left;display:inline}
.pingban .jky_txt{float:left;margin-left:20px;height:48px;line-height:22px;color:#fff;margin-top:16px;display:inline;width:500px}
.pingban .jky_txt p{height:22px;line-height:22px;letter-spacing:0.5px;margin-top:1px}
.pingban .jky_txt .top_p{color:#9b3310;font-size:12px;font-weight:bold}
.pingban .jky_txt .bottom_p{color:#6e6e6e;font-size:12px}
.pingban .jky_txt p .plus{background:url(images/forIpadClose.png) 0 -39px no-repeat;height:17px;width:18px;display:inline-block;margin:0
3px;vertical-align:middle;margin-top:-3px}
.pingban .jky_txt p .plus_jia{background:url(images/forIpadClose.png) no-repeat 0 -62px;height:16px;width:20px;display:inline-block;vertical-align:middle;margin:0
3px;margin-top:-3px}
.pingban .delete{display:block;background:url(images/forIpadClose.png) no-repeat 0 -1px;height:15px;width:15px;float:right;margin-top:10px;margin-right:10px}
.pingban .delete:hover{background-position:0 -19px}
.main .white_dh{height:84px;margin-top:15px;z-index:100}
.main .daohang{height:84px;z-index:10000}
.main .filter-afold .h_left,.main .filter-afold .h_right,.main .filter-afold .h_center{display:none}
.main .daohang .h_left,.main .daohang
.h_right{height:84px;width:11px;float:left}
.main .daohang .h_left{background:url(images/h_left.jpg) no-repeat top left}
.main .daohang .h_right{background:url(images/h_right.jpg) no-repeat top left}
.main .daohang .h_center{height:84px;background:url(images/h_bg.jpg) repeat-x top left;width:928px;float:left;position:relative;z-index:1000}
.zhe_goods .daohang .zhe_hd{width:928px;padding:0;height:46px}
.zhe_goods .daohang .zhe_show{width:928px;clear:both;height:38px;position:relative}
.zhe_goods .daohang .zhe_hd .zhe_dao{height:26px;line-height:26px;float:left}
.zhe_goods .daohang .zhe_hd .zhe_dao h3{width:60px;float:left;height:26px;line-height:26px;color:#404040;padding: 10px 5px;font-size:14px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul{float:left}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li{float:left;text-decoration: none;padding: 10px 5px;width:75px;}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a{height:26px;line-height:26px;display:block;width:75px;text-align:center;color:#404040;font-size:14px;position:relative;cursor:pointer;text-decoration:none;}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current {height:46px;line-height:46px;display:block;width:75px;text-align:center;color:#404040;font-size:14px;position:relative;cursor:pointer;text-decoration:none}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a{background-color: #DC442F;color:white;font-weight:bold;border:2px solid #DC442F;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a:hover{background-color: #DC442F;color:white;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a i{background:url(images/icon.png) no-repeat -999px -999px;display:block;position:absolute;top:16px;left:2px;height:16px;width:16px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a span{height:30px;line-height:30px;margin-top:8px;display:inline-block}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover{background-color: #f6d2b9; padding: 1px 4px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a .alltype{background-position:0 -6px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a.alltype{background-position:0 -28px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover .alltype{background-position:0 -28px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a.fushi{background-position:-73px -5px;width:18px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a.fushi{background-position:-73px -26px;width:18px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover.fushi{background-position:-73px -26px;width:18px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a .shishang{background-position:-152px -4px;_top:15px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a .shishang{background-position:-152px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover .shishang{background-position:-152px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a .xiebao{background-position:-226px -4px;width:22px;_top:13px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a .xiebao{background-position:-226px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover .xiebao{background-position:-226px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a .meishi{background-position:-303px -4px;top:15px;height:17px;_top:13px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a .meishi{background-position:-303px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover .meishi{background-position:-303px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a .jujia{background-position:-382px -4px;height:17px;top:15px;_top:13px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a .jujia{background-position:-382px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover .jujia{background-position:-382px -24px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a .qita{background-position:-458px -5px;_top:15px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul .current a .qita{background-position:-458px -25px}
.zhe_goods .daohang .zhe_hd .zhe_dao ul li a:hover .qita{background-position:-458px -25px}
.zhe_goods .daohang .zhe_show .type_show,.zhe_goods .daohang .type_detail{float:left}
.zhe_goods .daohang .type_detail{margin-top:11px;color:#404040}
.zhe_goods .daohang .type_detail .count,.zhe_goods .daohang .type_detail .youzhi,.zhe_goods .daohang .type_detail
.new_goods{font-size:12px;color:#f50;text-decoration:underline;margin:0
3px;font-weight:bold}
.zhe_goods .daohang .type_detail .count:hover,.zhe_goods .daohang .type_detail .youzhi:hover,.zhe_goods .daohang .type_detail .new_goods:hover{text-decoration:none}
.zhe_goods .daohang .type_detail .new_goods{position:relative;cursor:pointer;padding-right:23px;display:inline-block}
.zhe_goods .daohang .type_detail .new_goods_span{color:#f50;position:relative;padding-right:23px;display:inline-block}
.zhe_goods .daohang .type_detail .new_goods .new_em,.zhe_goods .daohang .type_detail .new_goods_span
.new_em{position:absolute;top:-1px;display:inline-block;height:11px;width:21px;background:url(images/new.gif) no-repeat;right:0}
.zhe_goods .daohang .type_detail .count_span{color:#f50}
.zhe_goods .daohang .type_detail .no_see{color:#70a700;font-size:12px;text-decoration:underline;margin:0 3px;font-weight:bold}
.zhe_goods .daohang .type_page{float:right;height:38px}
.zhe_goods .daohang .type_detail .no_see:hover{text-decoration:none}
.zhe_goods .daohang .type_detail .no_see_span{color:#70a700;margin:0 3px}
.zhe_goods .daohang .type_page .pg-prev,.zhe_goods .daohang .type_page .pg_next,.zhe_goods .daohang .type_page
.normal{position:relative;width:60px;display:block;height:38px;line-height:31px;float:left;text-align:center;color:#cf4429;font-size:12px;font-weight:bold;text-decoration:none;cursor:pointer}
.zhe_goods .daohang .type_page .pg-prev:hover,.zhe_goods .daohang .type_page .pg_next:hover{text-decoration:underline}
.zhe_goods .daohang .type_page .pg-prev em,.zhe_goods .daohang .type_page .pg_next em,.zhe_goods .daohang .type_page .normal
em{display:block;background:url(images/page_i.gif) no-repeat;height:9px;width:6px;top:12px;left:0;position:absolute}
.zhe_goods .daohang .type_page .pg-prev em{background-position:-6px 0}
.zhe_goods .daohang .type_page .pg_next em{background-position:-13px 0;right:0;left:auto}
.zhe_goods .daohang .type_page .normal
.next_em{background-position:-19px 0;left:auto;right:0}
.zhe_goods .daohang .zhe_show .type_show span{display:inline-block;height:25px;line-height:25px;margin-top:5px;color:#404040;font-weight:bold;font-size:14px}
.zhe_goods .daohang .zhe_show .type_show i{background:url(images/icon.png) no-repeat -999px -999px;display:block;position:absolute;top:12px;left:5px;height:16px;width:16px}
.zhe_goods .daohang .zhe_show .type_show .alltype{background-position:0 -28px}
.zhe_goods .daohang .type_page .normal{cursor:auto;color:#bbb}
.zhe_goods .daohang .filter-fold,.zhe_goods .daohang .filter-unfold{background:url(images/kai.png) no-repeat;width:33px;height:31px;display:none;top:0;right:165px;position:fixed;z-index:100002;_position:absolute;_right:-11px}
.zhe_goods .daohang .filter-fold{background-position:0 0}
.zhe_goods .filter-afold .filter-unfold{display:block}
.zhe_goods .daohang .filter-unfold{background-position:0 -33px}
.zhe_goods .bar_line{background:url(images/bar_line.png) no-repeat;height:7px;width:950px;position:absolute;top:84px;left:0;display:none}
s.zhe_hz{overflow:hidden}
.zhe_hz .hz_tit{padding:0px 5px;border-bottom:#f50 solid 2px;font-size:14px;font-weight:bold;height:28px;overflow:hidden}
.zhe_hz .hz_tit span{display:block;font-size:14px;font-weight:bold;line-height:28px;color:#fff;width:auto;overflow:hidden;background-color:#f50;padding:0
14px;float:left}
.zhe_hz .hz_list ul li{float:left;width:220px;height:110px;overflow:hidden;margin-left:14px;_margin-left:8px;margin-top:12px}
.zhe_hz .hz_list ul li a img{width:220px;height:110px}
.old_see{float:right;margin-right:5px;position:relative;z-index:100001;margin-top:10px;margin-left:15px}
.old_see
.old_see_a{display:block;float:left;margin-top:5px;height:30px}
.old_see .old_see_a:hover{text-decoration:none;cursor:pointer}
.old_see .date{background:url(images/date.jpg) no-repeat;height:14px;width:14px;display:block;float:left;vertical-align:middle;margin-right:7px;margin-top:2px;_margin-top:1px;font-size:12px;color:#404040}
.old_see span{float:left;display:block}
.old_see .kai{background:url(images/kai.jpg) no-repeat;height:4px;width:7px;display:block;float:left;margin-left:5px;margin-top:5px}
.old_txt{position:absolute;top:5px;right:5px;width:80px;display:none}
.old_txt .txt{width:80px}
.zhe_hd .zhuangtai{display:none}
.zhe_hd .old_see .zhuangtai{top:25px;z-index:100002;position:absolute;left:-10px}
.zhe_hd  .hover .zhuangtai{display:block}
.zhe_hd  .active .zhuangtai{display:block}
.old_see .zhuangtai ul li{background:#FFF;border:#d5d5d5 solid 1px;width:49px;text-align:center;border-bottom:none}
.old_see .zhuangtai ul li a{color:#404040;display:block;height:26px;line-height:26px}
.old_see .zhuangtai ul li a:hover{text-decoration:none;cursor:pointer}
.old_see .zhuangtai ul .current{background:#fff9e0;color:#cf4429}
.old_see .zhuangtai ul .last{border-bottom:#d5d5d5 solid 1px}
.old_see .zhuangtai ul .current a{color:#cf4429}