.piece{margin-top:15px}.piece
.white_bg{padding:10px
0px;width:950px;overflow:hidden}.main
.page{margin-bottom:0px;float:left}.zhe_page{width:950px;overflow:hidden;height:auto;background:#fff}.zhe_page
.z_p_goodshow{width:700px;height:auto;overflow:hidden;margin-right:15px;float:left}.zhe_page .z_p_goodshow .white_top_middle,.zhe_page .z_p_goodshow
.white_bottom_middle{width:690px}.zhe_page .z_p_goodshow
.white_bg{width:700px;overflow:hidden}.z_p_goodshow
.z_p_goodinfo{width:700px;overflow:hidden;height:auto;clear:both}.z_p_goodinfo
.z_p_goodinfo_tit{width:660px;height:auto;clear:both;overflow:hidden;margin:10px
20px;_margin-left:10px;font-size:20px;color:#000;line-height:30px}.z_p_goodinfo
.z_p_goodinfo_content{width:290px;height:350px;float:left;margin:0
20px 0px;_margin-left:10px;_margin-right:5px;margin-top:0px;position:relative}.z_p_goodinfo .z_p_goodinfo_content
.price_tag{background:url(images/view_total.gif) no-repeat 0 -292px transparent;color:#FFF;font-size:44px;height:60px;left:-15px;line-height:60px;padding-left:30px;position:relative;width:275px}.z_p_goodinfo .z_p_goodinfo_content .price_tag
i{color:#FFF;font-family:arial,sans-serif;font-style:normal;font-size:30px}.z_p_goodinfo .z_p_goodinfo_content .price_tag
span{color:#FFF;font-size:28px}.z_p_goodinfo .z_p_goodinfo_content .price_tag
a{display:block;height:45px;position:absolute;right:13px;top:8px;width:83px;background:url(images/view_total.gif) no-repeat -1px -371px transparent}.z_p_goodinfo .z_p_goodinfo_content .price_tag_end
a{background:url(images/view_total.gif) no-repeat -105px -371px transparent}.z_p_goodinfo .z_p_goodinfo_content .price_tag_wait
a{background:url(images/view_total.gif) no-repeat -214px -230px transparent}.z_p_goodinfo .z_p_goodinfo_content .price_tag_sellout
a{background:url(images/view_total.gif) no-repeat -209px -371px transparent}.z_p_goodinfo .z_p_goodinfo_content
.price_all{height:75px;width:290px;overflow:hidden;margin-top:20px}.z_p_goodinfo .z_p_goodinfo_content .price_all .price_all_l,.z_p_goodinfo .z_p_goodinfo_content .price_all
.price_all_r{height:75px;width:10px;background:url(images/view_total.gif) no-repeat -55px 0px transparent;float:left}.z_p_goodinfo .z_p_goodinfo_content .price_all
.price_all_r{background:url(images/view_total.gif) no-repeat -65px 0px transparent}.z_p_goodinfo .z_p_goodinfo_content .price_all
.price_all_m{height:75px;width:270px;background-color:#FFF8B9;float:left}.z_p_goodinfo .z_p_goodinfo_content .price_all .price_all_m
p{font-size:14px;line-height:25px;padding-top:12px;height:50px;width:90px;text-align:center;float:left;color:#000}.z_p_goodinfo .z_p_goodinfo_content
.time_left{margin-top:20px;width:290px;overflow:hidden;clear:both}.z_p_goodinfo .z_p_goodinfo_content .time_left
p{width:290px;clear:both;line-height:44px}.z_p_goodinfo .z_p_goodinfo_content .time_left span, .z_p_goodinfo .z_p_goodinfo_content .time_left
em{display:block;float:left;line-height:44px;margin:0
3px}.z_p_goodinfo .z_p_goodinfo_content .time_left
em{line-height:26px;margin:0px}.z_p_goodinfo .z_p_goodinfo_content .time_left
i{color:#0F9A00;display:block;float:left;font-size:30px;line-height:34px;font-style:normal}.z_p_goodinfo .z_p_goodinfo_content .time_left
i.ms{background:url("images/micro_second2.gif") no-repeat scroll 0 0 transparent;height:24px;margin:6px
0 0 3px;width:32px}.z_p_goodinfo .z_p_goodinfo_content
.share_to{margin-top:10px;overflow:hidden}.z_p_goodinfo .z_p_goodinfo_content .share_to
span.fl{line-height:24px}.z_p_goodinfo .z_p_goodinfo_content .share_to
a{margin-right:3px}.z_p_goodinfo .z_p_goodinfo_content .good_care
.good_care_num{width:290px;margin:15px
0px 10px;overflow:hidden;padding-left:-10px}.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_num
span{line-height:36px}.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_num .fl
b{font-size:24px;font-weight:normal;line-height:30px;float:left;background:url(images/view_total.gif) no-repeat scroll -277px 0px transparent;padding-left:34px;padding-right:5px}.z_p_goodinfo .z_p_goodinfo_content .good_care
.good_care_pic{width:290px;clear:both}.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_pic
a{margin-right:1px}.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_pic
img{width:24px;height:24px}.z_p_goodinfo
.z_p_goodinfo_pic{width:350px;height:350px;float:left;position:relative}.z_p_goodinfo .z_p_goodinfo_pic
img{width:350px;height:350px}.z_p_goodinfo .z_p_goodinfo_pic
em{background:url(images/view_total.gif) no-repeat scroll 0px -160px transparent;display:block;height:55px;left:0;position:absolute;top:0;width:51px}.z_p_goodshow
.z_p_gooddesc{width:700px;overflow:hidden;height:auto;clear:both}.z_p_goodshow .z_p_gooddesc a:hover{text-decoration:none}.z_p_gooddesc
.z_p_gooddesc_sort{margin:0px
auto 0px;width:660px;height:30px;clear:both;border-bottom:2px solid #FF7626}.z_p_gooddesc .z_p_gooddesc_sort
a.s_a{display:block;font-size:14px;width:87px;height:30px;text-align:center;line-height:30px;float:left;color:#000}.z_p_gooddesc .z_p_gooddesc_sort a.s_a:hover{color:#f50;font-weight:bold}.z_p_gooddesc .z_p_gooddesc_sort
a.current{background:url(images/view_total.gif) no-repeat -94px -47px;color:#fff;font-weight:bold}.z_p_gooddesc .z_p_gooddesc_sort a.current:hover{color:#fff}.z_p_gooddesc
.z_p_gooddesc_contain{margin:15px
auto 15px;width:660px;height:auto;overflow:hidden;clear:both}.z_p_gooddesc .z_p_gooddesc_contain
.z_p_gooddesc_comment{height:auto;overflow:hidden}.z_p_gooddesc .z_p_gooddesc_contain
.z_p_gooddesc_text{width:660px;height:auto;overflow:hidden;clear:both;line-height:20px;border-bottom:1px dotted #ccc;padding-bottom:20px;margin-bottom:20px}.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_text
a{margin-right:3px}.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_text
img{width:20px;height:20px;margin-right:3px;float:left;overflow:hidden}.z_p_gooddesc .z_p_gooddesc_contain
.z_p_gooddesc_pic{width:660px;height:auto;overflow:hidden;clear:both;border-bottom:1px dotted #ccc;padding-bottom:20px;margin-bottom:20px}.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_pic
img{margin:0px
15px 10px 0px}.z_p_gooddesc .z_p_gooddesc_contain
h3{margin-bottom:10px;font-size:12px}.z_p_gooddesc .z_p_gooddesc_contain h3 a:hover{cursor:text}.z_p_gooddesc .z_p_gooddesc_contain
.z_p_gooddesc_but{width:660px;height:37px;overflow:hidden;clear:both;margin:10px
auto 10px}.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_but
a{width:169px;height:37px;display:block;margin:0px
auto;background:url(images/view_total.gif) no-repeat -93px 0px}.zhe_page
.z_p_goodabout{width:235px;height:auto;overflow:hidden;float:left}.zhe_page .z_p_goodabout .white_top_middle,.zhe_page .z_p_goodabout
.white_bottom_middle{width:225px}.zhe_page .z_p_goodabout
.white_bg{width:235px;overflow:hidden}.z_p_goodabout
.z_p_goodseller{width:235px;overflow:hidden;height:auto;clear:both}.z_p_goodabout .z_p_goodseller
p{line-height:30px;padding:0px
20px}.z_p_goodabout
.z_p_goodother{margin-top:15px;width:235px;overflow:hidden;height:auto;clear:both}.z_p_goodother
.z_p_g_tit{font-size:12px;color:#000;padding:10px
0px 15px 15px}.z_p_goodother
.goods_list{width:205px;overflow:hidden;margin:0px
auto 15px}.z_p_goodother .goods_list
.goods_tit{line-height:20px;height:40px;width:205px;display:block;overflow:hidden;margin-bottom:10px;font-size:12px;font-weight:normal}.z_p_goodother .goods_list a.goods_tit:hover{color:#5E5E5E;text-decoration:underline}.z_p_goodother .goods_list
.goods_pic{width:205px;height:205px;display:block;position:relative}.z_p_goodother .goods_list .goods_pic
img{width:205px;height:205px}.z_p_goodother .goods_list .goods_pic
em{width:34px;height:37px;display:block;position:absolute;top:0px;left:0px;background:url(images/goodslist_total.gif) no-repeat left -170px}.z_p_goodother .goods_list
.goods_price{width:205px;height:30px;line-height:30px;clear:both;overflow:hidden;color:#808080}.z_p_goodother .goods_list .goods_price
.green{font-size:16px;float:left}.z_p_goodother .goods_list .goods_price
.del{float:right;text-decoration:line-through}.z_p_goodother .goods_list
.goods_info{margin:0px
0px 5px;height:20px;line-height:20px}.z_p_goodother .goods_list .goods_info
a{text-decoration:none}.z_p_goodother .goods_list .goods_info
img{height:20px;width:20px;margin-right:3px;float:left}.goods_box .time_chou
i{font-size:16px}.goods_box .goods_show
b{background:url(images/view_state_total.gif) no-repeat scroll 0px -250px transparent;display:block;height:100px;right:0;position:absolute;top:-2px;width:36px}.goods_box .goods_show
.status_two{background-position:-51px -250px}.goods_box .goods_show
.status_three{background-position:-100px -250px}.goods_box .goods_show
.status_four{background-position:-149px -250px}.z_p_goodother .goods_list .goods_pic
b{background:url(images/view_total.gif) no-repeat scroll 0px -145px transparent;display:block;height:79px;right:0;position:absolute;top:-2px;width:29px}.z_p_goodother .goods_list .goods_pic
.status_two{background-position:-51px -145px}.z_p_goodother .goods_list .goods_pic
.status_three{background-position:-100px -145px}.z_p_goodother .goods_list .goods_pic
.status_four{background-position:-149px -145px}.z_p_goodinfo .z_p_goodinfo_pic
b{background:url(images/view_total.gif) no-repeat scroll 0px 0px transparent;display:block;height:118px;right:0;position:absolute;top:-3px;width:44px}.z_p_goodinfo .z_p_goodinfo_pic
.status_two{background-position:-51px 0px}.z_p_goodinfo .z_p_goodinfo_pic
.status_three{background-position:-100px 0px}.z_p_goodinfo .z_p_goodinfo_pic
.status_four{background-position:-148px 0px}.z_p_goodinfo .z_p_goodinfo_content .price_tag_chou,.z_p_goodinfo .z_p_goodinfo_content .price_tag_chouend,.z_p_goodinfo .z_p_goodinfo_content
.price_tag_wait{background:url(images/zhe_price_tag_chou.png) no-repeat scroll 0 0px transparent}.z_p_goodinfo .z_p_goodinfo_content .price_tag_chou
a{background-position:0px -435px}.z_p_goodinfo .z_p_goodinfo_content .price_tag_chouend
a{background-position:-91px -435px;cursor:default}.z_p_gooddesc .z_p_gooddesc_sort
div{float:right;height:23px;line-height:23px;margin-right:5px}.z_p_gooddesc .z_p_gooddesc_sort a.chou_uname,.z_p_gooddesc .z_p_gooddesc_sort
a.chou_uname_cur{float:right;font-weight:normal;font-size:12px;color:#fff;height:23px;width:121px;line-height:22px;text-align:center;background:url(images/view_total.gif) no-repeat scroll -184px -435px transparent}.z_p_gooddesc .z_p_gooddesc_sort
a.chou_uname_cur{background-position:-183px -462px}.z_p_gooddesc .z_p_gooddesc_sort
a.current_none{background:url(images/view_total.gif) no-repeat scroll -183px -47px transparent}.z_p_gooddesc_help{border:1px
solid #FFCCA7;background-color:#FFFEEA;width:638px;overflow:hidden;line-height:20px;padding:10px;margin-bottom:25px}.z_p_gooddesc_uname{width:660px;overflow:hidden}.z_p_gooddesc_uname ul
li{width:640px;padding:0px
10px;clear:both;line-height:40px;height:40px}.z_p_gooddesc_uname ul li
center{color:#A5A5A5}.z_p_gooddesc_uname ul li
div{float:left}.z_p_gooddesc_uname ul li
.c_u{width:300px;margin-right:20px}.z_p_gooddesc_uname ul li .c_u
img{width:20px;height:20px;float:left;margin-top:10px;margin-right:5px;overflow:hidden}.z_p_gooddesc_uname ul li
.c_z{width:70px;margin-right:200px;text-align:center}.z_p_gooddesc_uname ul li
.c_n{width:40px;float:right;text-align:center}.z_p_gooddesc_uname ul
li.c_tit{margin-bottom:15px;height:30px;border-bottom:1px dotted #ccc}.z_p_gooddesc_uname ul
li.c_now{background-color:#eee}.z_p_gooddesc_uname ul li.c_tit .c_u
span{width:95px;height:16px;display:block;background:url(images/view_total.gif) no-repeat scroll -77px -556px transparent}.z_p_gooddesc_uname ul li.c_tit .c_z
span{width:67px;height:16px;display:block;background:url(images/view_total.gif) no-repeat scroll -189px -556px transparent}.z_p_gooddesc_uname ul li.c_tit .c_n
span{width:25px;height:11px;margin-left:7px;display:block;background:url(images/view_total.gif) no-repeat scroll -271px -556px transparent}.z_p_gooddesc_contain
.page{margin:20px
20px 5px;_margin-right:10px}.z_p_gooddesc_comment
.comment{height:auto;overflow:hidden}.z_p_gooddesc_comment .comment
li{display:block;float:left;clear:both;border-bottom:1px dotted #ccc;line-height:22px;padding:10px
0px;width:100%;height:auto;overflow:hidden}.z_p_gooddesc_comment .comment
.gray_li{background:#f7f7f7}.z_p_gooddesc_comment .comment
li.c_more{text-align:right;border:none;padding-top:10px}.z_p_gooddesc_comment .comment li.c_more
a{text-decoration:underline;color:#ff6c01}.z_p_gooddesc_comment .comment li.c_more a:hover{text-decoration:none}.z_p_gooddesc_comment .comment li
.fl{float:left;margin-left:10px;width:120px;height:22px;overflow:hidden}.z_p_gooddesc_comment .comment li
.fr{float:right;width:510px;padding-right:10px;height:auto;overflow:hidden}.z_p_gooddesc_comment .comment li .fr
p{height:auto;overflow:hidden}.z_p_gooddesc_comment .comment li .fr
.date{color:#999;margin-left:10px}