body{
	font-family: "Î¢ÈíÑÅºÚ","ÎÄÈªæäÎ¢Ã×ºÚ",Arial,"ºÚÌå","ËÎÌå"; background:url(images/bg.jpg) top center fixed no-repeat;
}

.contents{

	padding:10px;
}

.contents img{
	width: 500px;
	padding: 10px;
	margin: 10px;
}

.header{
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
}

.guide{
	float: left;

	margin: 10px;
	border-radius: 5px; text-align:center;
}

.guide a{
	background-color: #cee;
	text-align: "center";
	border-radius: 5px;
	width: 120px;
	display: block;
	border: 0px solid #999;
	color: #000;
	clear: both;
	text-decoration: none;
	padding: 1px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 8px;
}

.guide a:hover{
	background-color: #CCC;
	position: relative;
	right: 5px;
}

.guide2{ position:fixed; margin-left:150px;top:120px;text-align:center;
 
}

.guide2 a{
	background-color: #cee;
	text-align: "center";
	border-radius: 5px;
	width: 120px;
	display: block;
	border: 0px solid #999;
	color: #000;
	clear: both;
	text-decoration: none;
	padding: 1px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 8px;
}

.guide2 a:hover{
	background-color: #CCC;
	position: relative;
	right: 5px;
}


#breadcrumb{
	margin-top:20px;
	margin-left: 0px;
}

.intro{
	float: right;
	}
	
fieldset{

	border-radius: 5px;
	}

input.back{
	border-radius: 5px;
	background-color: #00CCCC;
	}



.con {
	width:1000px; margin:auto;
	padding:10px;
	height:auto;
	min-height:500px;
	background-color:#fff;
	background-color:rgba(255, 255, 255, 0.8);
}
#sidebar {
	height:1000px;
	width:700px;
	background:Orchid;
	float:left;
}
#content {
	width:1000px;
	height:1000px;
	background:SlateBlue;
	float:right;
}
#copyright {
	height:40px;
	width:1000px;
	background:Purple;
	clear:both; color:#fff; line-height:40px; text-align:center; font-size:18px;
}
#title {
	width:1000px; 
	height:70px;
	background:#F90;
}
#title  h1{ color:#C00; line-height:50px; padding:10px;
}



