@charset "utf-8";

body{
    width: 1920px;
    overflow-x: hidden;
}

.sd{
    position: fixed;
    width: 1920px;
    height: 1620px;
    top: -540px;
}

.yuan{
    z-index: 0;
    animation: sd 18s linear infinite;
    user-select: none;
    background: url("../image/圣诞特效/远景.png");
}

.zhong{
    z-index: 1;
    animation: sd 12s linear infinite;
    user-select: none;
    background: url("../image/圣诞特效/中景.png");
}

.jin{
    z-index: 2;
    animation: sd 5s linear infinite;
    user-select: none;
    background: url("../image/圣诞特效/近景.png");
}

@keyframes sd
{
    0%{
        top: -540px; 
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        top: 0px;
        opacity: 0;
    }
}
/* CSS Document */

